<span class="tool-title-icon">
  <%= image_tag 'compare_icon_small.png' %>
</span>
<h2 class="tool-title">Text Compare Tool</h2>
<div class="licence-selection-type">
  <input type="radio" name="select_type" value="family_tree" checked="checked">Select by family tree
  <input type="radio" name="select_type" value="any">Select from all licences<br />
</div>
<!-- Zurb slider -->
<div id="text-compare-tool" class="slider-container">
  <div class="slider text-compare-slider">
    <div>
      <h4>Select a licence family to compare the licence texts:</h4>
      <%= render partial: 'family_trees/show', locals: { family_tree: nil, family_select_box: true } %>
    </div>
    <div>
      <h4>Compare any two licences:</h4>
      <div class="row">
        <div class="six columns">
          <span id="licence-select-wrapper-a" class="licence-select-wrapper">
            <%= render partial: 'licences/licence_select', locals: { select_id: 'licence-select-a',
                                                                   selection: nil } %>
          </span>
        </div>
        <div class="six columns">
          <span id="licence-select-wrapper-b" class="licence-select-wrapper">
            <%= render partial: 'licences/licence_select', locals: { select_id: 'licence-select-b',
                                                                   selection: nil } %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'licences/compare', locals: { licence_a: nil, licence_b: nil, comparison_html: nil } %>