<div id="compatibility-matrix-for-<%= @compatibility.id %>"
     class="compatibility-matrix"
     data-compatibility-id="<%= @compatibility.id %>">
<table class="compatibility-matrix">
  <tr>
    <th colspan="2">
      <%= image_tag("beta_small.png", style: "float: left; margin-right: 6px; background-color: #FFF") %>
      <p style="vertical-align: top; font-size: 95%; font-weight: normal; line-height: 1.2; margin-top: 8px; color: #C10026">
        Work in progress.  Use with caution!</p>
    </th>
    <th class="col-label">You can release your adaptation under the following highlighted-green licences (and you may remix your work with any other work also licenced under these terms):</th>
  </tr>

  <%= render partial: 'matrix_row',
            locals: {licence: current_licence, all_licences: licences, first_row: true } %>
  <% licences.to_a.reject{|l| l == current_licence}.each do |licence_i| %>
     <%= render partial: 'matrix_row',
                locals: {licence: licence_i, all_licences: licences, first_row: false } %>
  <% end %>

  <tr>
    <td colspan="2">
      <span>Check compatibility with another licence:</span>
      <span><%= render partial: 'licences/licence_select', locals: { select_id: "add-licence",
                                                                     selection: nil } %></span>
      <span id="add-licence-button" class="small button">Add</span>
    </td>
  </tr>
</table>
</div>