<h2>Openness Benchmarks</h2>
<table>
  <tr>
    <th colspan="4" class="benchmark-header">
      <strong>Summary:</strong>
    </th>
  </tr>
  <tr>
    <td><strong>Openness score:</strong></td>
    <td><strong><%= @licence.score.openness.round(1) %> / 25</strong></td>
    <td>User legal risk mitigation:</td>
    <td><%= @licence.score.licensee_legal_risk.round(1) %>  / 5.0</td>
  </tr>
  <tr>
    <td>Rights granted:</td>
    <td><%= @licence.score.licensee_freedom.round(1) %>  / 15.0</td>
    <td>Business risk mitigation:</td>
    <td><%= @licence.score.licensee_business_risk.round(1) %>  / 5.0</td>
  </tr>
</table>
<p>This license achieves an overall openness benchmark of <strong><%= score.openness.round(1) %></strong> out of 25 points.
The score reflects the license's ability to provide the user (licensee) with a flexible and friendly license, based on:
<ol>
  <li>the rights and freedoms granted;</li>
  <li>the legal risks posed to the licensee; and</li>
  <li>the business risks which the licensee faces.</li>
</ol>
</p>

<h2>Score Comparison</h2>
<p>In comparison to other licences, this licence ranks <strong><%= score.openness_rank.ordinalize %></strong> out of all
<strong><%= Licence.count %></strong> licences in the CLIP database.</p>

<div id="comparison_chart_container"></div>
<% content_for :head do %>
    <script type="text/javascript">
        <%= render partial: "scores/comparison.js.erb", locals: {score: score} %>
    </script>
<% end %>