<div id="search">
  <div id="search-title"><h3>Search for a licence</h3></div>
  <div class="ui-widget">
    <select id="licence-search-combobox" class="tbox">
      <option value="">Select...</option>
      <% @licences.each do |licence| %>
        <option value="<%= licence.id %>"><%=  full_title(licence) %></option>
      <% end %>
    </select>
  </div>
  <div class="browse-link">Or <%= link_to "browse", licences_path() %> by category...</div>
</div>

<div id="tools">
  <div id="tools-title"><h3>Licensing Apps:</h3></div>
  <%= link_to "tools/compare" do %>
      <div id="tools-links">
        <span class="compare-tool">Licence Compare</span>
      </div>
  <% end %>
</div>

<div id="footer-outer" class="clear">
  <%= render partial: "footer" %>
</div>