<%= form_for(@licence, :html => { :multipart => true } ) do |f| %>
    <% if @licence.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@licence.errors.count, "error") %> prohibited this licence from being saved:</h2>

          <ul>
            <% @licence.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= field_set_tag 'Licence Info', class: 'licence-info' do %>
      <%= render partial: "fields", locals: { f: f } %>
    <% end %>

    <%= field_set_tag 'Compliance', class: 'rights' do %>
        <%= f.fields_for(:compliance) do |f| %>
            <%= render partial: "compliances/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Rights & Permissions', class: 'rights' do %>
        <%= f.fields_for(:right) do |f| %>
            <%= render partial: "rights/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Obligations', class: 'obligations' do %>
        <%= f.fields_for(:obligation) do |f| %>
            <%= render partial: "obligations/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Attribution', class: 'attribution' do %>
        <%= f.fields_for(:attribution_clause) do |f| %>
            <%= render partial: "attribution_clauses/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Copyleft / Share-alike', class: 'copyleft' do %>
        <%= f.fields_for(:copyleft_clause) do |f| %>
            <%= render partial: "copyleft_clauses/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Patent Clauses', class: 'patents' do %>
        <%= f.fields_for(:patent_clause) do |f| %>
            <%= render partial: "patent_clauses/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Sublicensing & Compatibility', class: 'compatibility' do %>
        <%= f.fields_for(:compatibility) do |f| %>
            <%= render partial: "compatibilities/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Termination of Licence',  class: 'termination' do %>
        <%= f.fields_for(:termination) do |f| %>
            <%= render partial: "terminations/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Changes of Licence Terms',  class: 'changes' do %>
        <%= f.fields_for(:changes_to_term) do |f| %>
            <%= render partial: "changes_to_terms/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Disclaimers',  class: 'disclaimers' do %>
        <%= f.fields_for(:disclaimer) do |f| %>
            <%= render partial: "disclaimers/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Conflict of Laws', class: 'conflict_of_laws' do %>
        <%= f.fields_for(:conflict_of_law) do |f| %>
            <%= render partial: "conflict_of_laws/fields", locals: { f: f } %>
        <% end %>
    <% end %>

    <%= field_set_tag 'Attachments', class: 'attachments' do %>
        <%= f.label :logo, "Licence or maintainer logo (PNG/JPG/GIF)" %>
        <%= image_tag @licence.logo.url(:medium) if @licence.logo.file? %>
        <%= f.file_field :logo %>


        <%= f.label :logo, "Licence text (HTML)" %>
        <%= link_to @licence.text, @licence.text.url if @licence.text.file? %>
        <%= f.file_field :text %>
    <% end %>

    <%= f.submit "Save" %>
<% end %>