<div id="featured" class="clear">
  <div class="image-block">
    <div class="image-backing">
      <div class="image-wrapper">
        <% if @licence.logo.file? %>
          <%= image_tag @licence.logo.url(:medium) if defined? @licence.logo %>
        <% else %>
            <%= image_tag 'blank_logo.jpg' %>
        <% end %>
      </div>
    </div>
    <div class="approvals">
      <%= content_tag :span, class: (@licence.compliance.is_okd_compliant ? 'approved' : 'not_approved') do
        image_tag @licence.compliance.is_okd_compliant ? 'okfn_approved.png' : 'okfn_not_approved.png'
      end %>
      <%= content_tag :span, class: (@licence.compliance.is_osi_compliant ? 'approved' : 'not_approved') do
        image_tag @licence.compliance.is_osi_compliant ? 'osi_approved.png' : 'osi_not_approved.png'
      end %>
      <%= content_tag :span, class: (@licence.compliance.is_dfcw_compliant ? 'approved' : 'not_approved') do
        image_tag @licence.compliance.is_dfcw_compliant ? 'dfcw_approved.png' : 'dfcw_not_approved.png'
      end %>
    </div>
  </div>

  <div class="text-block">
    <h2><%= @licence.full_title %></h2>

    <div class="licence-versions">
      <%= licence_versions_nav(@licence) %>
    </div>

    <p class="post-info">
      CLIP/SPDX License ID: <%= content_tag :span, @licence.identifier, class: "highlight" %>
    </p>

    <p>This license is maintained by <strong><%= @licence.maintainer %></strong>
      for use with <%= domains_comma_seperated(@licence) %>.
    </p>

    <%= render partial: "scores/stars", locals: { licence: @licence } %>

  </div>
</div>

<!-- tabs -->
<div id="tabs">
    <dl class="tabs contained">
      <!-- licence info tabs -->
      <% licence_tabs.each do |tab_id, txt| %>
          <dd class="<%= tab_id == @tab ? "active" : "hide-for-small" %>">
            <%= link_to txt, licence_path(@licence, tab: tab_id) %>
          </dd>
      <% end %>

      <!-- admin tabs -->
      <dd class="<%= 'licence_edit' == @tab ? "right active" : "right hide-for-small" %>">
        <%= link_to('Edit', licence_path(@licence, tab: 'licence_edit')) %>
      </dd>
      <% if can? :destroy, @licence %>
        <dd class="hide-for-small right">
          <%= link_to('Destroy', licence,
                  method: :delete, data: { confirm: 'Are you sure?' }) %>
          <% end %>
        </dd>
    </dl>
    <ul class="tabs-content contained">
      <li class="active">
        <div id="tab-content">
           <%= render partial: 'tab_' + @tab, locals: { licence: @licence } %>
        </div>
      </li>
    </ul>
</div>

