<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.1)" />
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.1)" />
	
	<title>CLIPol</title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>

    <% unless Rails.configuration.google_analytics_id.nil? %>
    <script type="text/javascript">
      <%= render partial: 'layouts/google_analytics.js' %>
    </script>
    <% end %>

    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>

<body id="clip">
  <div id="header">
    <h1 id="logo-text"><a href="/"><span class="logo-text-first">CLIP</span><span class="logo-text-second">ol</span></a></h1>
    <p id="slogan">CIPPIC Licensing Information Project<br/>for Open Licences</p>
  </div>

  <div id="main-content" class='<%= controller.controller_name %>'>
    <% if admin_signed_in? %>
      <div class="sign-out-link"><%= link_to('Logout', destroy_admin_session_path, :method=>'delete') %></div>
    <% end %>

    <% if !notice.nil? %>
        <p id="notice"><%= notice %></p>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>